{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "es6": true
    },
    "globals": {
    },
    "rules": {
        "curly": "error",
        "no-console": "off"
    }
}
